<link href="{{site.base}}/css/bootstrap.css" rel="stylesheet">
<!-- <link href="{{site.base}}/css/font-awesome.css" rel="stylesheet"> -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{site.base}}/css/craftoe.css" rel="stylesheet">
