
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <a href="{{site.base}}/"><img src="{{site.base}}/css/images/{{site.nav_logo}}" height='80px'></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://cel.ly/" ><img src="{{site.base}}/images/celly-128.png" height="40" /> Celly</a></li>
        <li><a href="http://q.berea.mobi/" >{% include fa name="ambulance  fa-fw" size="2x" %} Q.berea</a></li>
        <li><a href="{{site.base}}/resources/" >{% include fa name="file-text-o  fa-fw" size="2x" %} Docs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<script>
var tutorials = [
  {{tutorials}}
];
</script>
